﻿@model webProjeOdevi.DAL.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITM_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITM_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITM_Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITM_Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITM_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITM_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITM_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITM_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITM_Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITM_Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CAT_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CAT_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ITM_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
